*{
    background-color: #E6C4C0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #FAEEE7;
}


/*header*/
.active{ background-color: #CA8A8B;}
.contact{ background-color: #CA8A8B;}
.about{ background-color: #CA8A8B;}
.port{ background-color: #CA8A8B;}

.header_menu{
    display:flex;
    justify-content: space-between;
    margin-top: 45px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    background-color:#CA8A8B;
    opacity: 0.60;
}


/*contact*/
.contact_txt{ padding-top: 100px;}
.form{
    color:#926E6F ;
    display: flexbox;
    justify-content:center;
    align-items:center;
    margin: auto;
    width: 20%;
    border: 1px;
    padding: 50px;
}


/*links*/
a:hover{ color: blueviolet; text-decoration: none; }
a:link{ text-decoration:none;}
a:visited{ text-decoration: none; }
a:active{ text-decoration: none; }
a.hover{cursor: pointer;}
img:hover{ opacity: 50%;}
.about_links{ margin-right: 45px; margin-top: -15px;}
ul{ text-align: center; }
li{ display: inline-block; }


/*index header image*/
.spam_img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
    opacity: 50%;
}


/*monitor image*/
.cm{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 15%;
    width: 15%;
    opacity: 20%;  
}



/*portfolio -- images*/
.imgs{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
}
.imgs img{
    width: 100%;
    height: 100%;
}


.smokey{
    height: 25%;
    width: 25%;
    padding: 10px;
}
.thoughts{
    height: 25%;
    width: 25%;
    padding:10px;
}
.game{
    height: 25%;
    width: 25%;
    padding:10px;
}
.see_speak_hear{
    height: 25%;
    width: 25%;
    padding:10px;
}
.open_mind{
    height: 25%;
    width: 25%;
    padding:10px;
}
.moon_view{
    height: 25%;
    width: 25%;
    padding:10px;
}

/*About pic*/
.profile_pic{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}
.profile_pic:hover{opacity: 100%;}

/*texts -- index*/
.middle_txt{
    display:inline-block;
    align-items: baseline;
}
.left_side_txt{
    position:fixed;
    float:left;
    font-size: xx-large;
    margin-left: 150px;
    padding-top: 300px;
    padding-left: 150px;
}




/*buttons*/
button:hover{ background-color: #926E6F; margin: 1px; }
